

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadd;
    border-radius: 10px;
}

h1 {
    color: rgb(95, 87, 102);
    
    
}

btn btn-primary {


}